.search-form {
  padding: 55px 0 48px;
  display: flex;
  flex-direction: column;
}

.search-form__container {
  margin: 0 0 29px;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  display: grid;
  grid-template-columns: auto 1fr 80px;
  gap: 5px;
  align-items: center;
}

.search-form__icon {
  margin: 0 80px 0 6px;
  color: #e8e8e8;
}

.search-form__input {
  width: 100%;
  min-height: 34px;
  padding: 0;
  border: none;
  border-radius: 15px;
  text-align: center;
  line-height: 1.21;
  font-size: 28px;
  font-weight: 500;
}

.search-form__input::-webkit-search-cancel-button {
  margin: 0 10px;
}

.search-form__input:focus-visible {
  outline: 2px solid #ff6838;
}

.search-form__input::placeholder {
  color: #e8e8e8;
}

.search-form__submit-button {
  width: 80px;
  height: 34px;
  border: none;
  padding: 0;
  background: #ff6838 url('../../images/search-button-icon.svg') no-repeat center;
  border-radius: 48px;
}

@media screen and (max-width: 1140px) {
  .search-form {
    padding: 71px 0 61px;
  }

  .search-form__icon {
    margin-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .search-form {
    padding: 83px 0 50px;
  }

  .search-form__container {
    padding: 9px 4px;
    margin: 0 0 42px;
    grid-template-columns: 1fr 80px;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    padding-left: 3px;
    box-sizing: border-box;
    text-align: left;
    font-size: 18px;
    line-height: 1.22;
  }
}
