.footer {
  padding-top: 79px;
  margin-top: auto;
}

.footer__sign {
  max-width: 320px;
  margin: 0 auto 20px;
  color: #a0a0a0;
  line-height: 1.23;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.footer__nav-block {
  padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  line-height: 1.21;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

@media screen and (max-width: 580px) {
  .footer__sign {
    font-size: 12px;
    line-height: 1.21;
  }

  .footer__nav-block {
    padding: 30px 0 20px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__copyright {
    margin-top: 30px;
    font-size: 12px;
    color: #a0a0a0;
  }

  .footer__links {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
}
